* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

#count {
    font-size: 60px;
    margin: 20px 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #2193b0;
    color: white;
}

.theme-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* DARK MODE */
body.dark {
    background: #121212;
}

body.dark .container {
    background: #1e1e1e;
    color: white;
}

body.dark .buttons button {
    background: #6dd5ed;
    color: black;
}
