* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(120deg, #ff6a00, #ee0979);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero span {
    color: #ffe600;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: white;
    color: #ee0979;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* SKILLS */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-box span {
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
