* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ff512f, #dd2476);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
}

#question {
    margin-bottom: 15px;
}

.option {
    background: #f4f4f4;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background: #ddd;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #dd2476;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#score {
    text-align: center;
    margin-top: 15px;
}
