* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #2fe7ff, #3024dd);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: white;
    color: #dd2476;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

/* MENU */
.menu-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    padding-bottom: 15px;
    font-weight: bold;
}

/* WHY */
.why-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
