* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #232526, #414345);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    background: #1e1e1e;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

.strength-bar {
    width: 100%;
    height: 8px;
    background: #555;
    border-radius: 5px;
    overflow: hidden;
}

#strength {
    height: 100%;
    width: 0;
    transition: 0.3s;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
