* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #11998e, #38ef7d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    width: 360px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

small {
    display: block;
    text-align: left;
    color: red;
    font-size: 13px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #11998e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#successMsg {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}
